@font-face {
    font-family: young-serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 700;
}

:root {
    --white-color: hsl(0, 0%, 100%);
    --stone-100-color: hsl(30, 54%, 90%);
    --stone-150-color: hsl(30, 18%, 87%);
    --stone-600-color: hsl(30, 10%, 34%);
    --stone-900-color: hsl(24, 5%, 18%);
    --brown-800-color: hsl(14, 45%, 36%);
    --rose-800-color: hsl(332, 51%, 32%);
    --rose-50-color: hsl(330, 100%, 98%);

    --young-serif-font: "young-serif";

    --line-color: #b4b4b4;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background-color: var(--stone-100-color);
    font-family: "outfit", serif;
    font-weight: 300;

    display: flex;
    justify-content: center;

    margin: 10rem 0 10rem 0;
}

body div[id="root"] {
    width: 60%;
}

.recipe-post {
    background-color: var(--white-color);
    padding: 3.5rem;
    border-radius: 1.5rem;
}

.recipe-post__name {
    font-family: var(--young-serif-font), serif;
    font-size: 4rem;
    margin: 2.5rem 0;
}

.recipe-post__description {
    line-height: 2.72rem;
}

.recipe-post img {
    width: 100%;
    height: auto;
}

.preparation {
    background-color: var(--rose-50-color);
    padding: 3rem;
}

.preparation__title {
    color: var(--rose-800-color);
    font-family: "outfit", serif;
    font-weight: 700;
    margin: 0;
}

.preparation__general-information {
    margin: 0;
    padding-left: 2rem;
}

.preparation__general-information > li {
    text-indent: 1.3rem;
}

.preparation__general-information > li::marker {
    font-size: 1.12rem;
    color: var(--rose-800-color);
    margin-right: 1.5rem;
}

.preparation__general-information > li:last-child > p {
    margin-bottom: 0;
}

.preparation__general-information b {
    font-family: "outfit", serif;
    font-weight: 600;
}

.recipe-section > ol, .recipe-section > ul {
    padding-left: 2.3rem;
}

.recipe-section > ol > li, .recipe-section > ul > li {
    padding-left: 1.3rem;
    line-height: 2.72rem;
}

.recipe-section > ol > li::marker, .recipe-section > ul > li::marker {
    font-family: "outfit", serif;
    font-weight: 600;
    color: var(--brown-800-color);
}

.recipe-section__tile {
    font-family: var(--young-serif-font), serif;
    color: var(--brown-800-color);
    font-size: 2.7rem;
}

.recipe-section__instruction > li {
    margin-bottom: 1.5rem;
}

.nutrition {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
}

.nutrition__header, .nutrition__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
hr {
    color: var(--line-color);
}

.nutrition__header > p, .nutrition__details > p {
    border-bottom: 0.1rem solid var(--line-color);
    padding-bottom: 1.5rem;
}

.nutrition__details > p {
    font-family: "outfit", serif;
    font-weight: 600;
    color: var(--brown-800-color);
}

#ingredient > li > p {
    margin: 1.3rem 0;
}